<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Delete blog</h1>
<p>
    <a href="/">Back to home page</a>
</p>
<p><b>Are you sure?</b></p>
<form th:action="@{/delete-blog}" th:object="${blogs}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td><b>Title:</b></td>
            <td th:text="${blogs.blogTitle}"></td>
        </tr>
        <tr>
            <td><b> Blog Content:</b></td>
            <td th:text="${blogs.content}"></td>
        </tr>
        <tr>
            <td><b>Author:</b></td>
            <td th:text="${blogs.author}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>