<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Edit blog</h1>
<p><a href="/">Back to home page</a></p>
<th:block th:if="${message}">
    <b><p th:text="${message}"></p></b>
</th:block>
<form th:action="@{/create-blog}" th:object="${blog1}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td><b>Title:</b></td>
            <td><textarea rows="10" cols="70" th:field="*{blogTitle}"></textarea></td>
        </tr>
        <tr>
            <td><b> Blog Content:</b></td>
            <td><textarea rows="20" cols="70" th:field="*{content}"></textarea></td>
        </tr>
        <tr>
            <td><b>Author:</b></td>
            <td><textarea rows="5" cols="70" th:field="*{author}"></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="save"></td>
        </tr>
    </table>
</form>
</body>
</html>